.post-box {
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 240px;
    height: 150px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
}

    .post-box:hover {
        background-color: #f7f7f7;
    }
