@page "/blog"

@inject BlogService _blogService
@inject NavigationManager _navManager

<PageTitle>Blog</PageTitle>

<div class="container-sm">

    @if (_blogService.Posts == null)
    {
        <p>Fetching data from GitHub...</p>
        <Loader />
    }
    else
    {
        @foreach (var category in _blogService.Posts.Select(s => s.Category).Distinct())
        {
            <div class="mt-4">
                <h5>@category</h5>
                <ul>
                    @foreach (var post in _blogService.Posts.Where(p => p.Category == category))
                    {
                        <li>
                            @{ string address = "/blogpost/" + post.Id;}
                            <a href="@address">@post.Title</a>
                        </li>
                    }
                </ul>
            </div>
        }
    }

</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        if(_blogService.Posts == null)
        {
            await LoadPosts();
        }
    }

    private async Task LoadPosts()
    {
        try
        {
            await _blogService.GetPostsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
