@page "/blog"

@inject BlogService _blogService
@inject NavigationManager _navManager

<PageTitle>Blog</PageTitle>

<div class="container-sm">

    @if (posts == null)
    {
        <p>Fetching data from GitHub...</p>
    }
    else
    {
        <div class="mt-4">
            <h5>Blazor</h5>
            <ul>
                @foreach (var post in posts.Where(p => p.Category == "Blazor"))
                {
                    <li>
                        @{ string address = "/blogpost/" + post.Id;}
                        <a href="@address">@post.Date - @post.Title - @post.Description</a>
                    </li>
                }
            </ul>
        </div>
    }

</div>

@code {
    List<BlogPost>? posts = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    private async Task LoadPosts()
    {
        try
        {
            posts = await _blogService.GetPostsAsync("Posts/BlazorSeries");
            posts = posts?.OrderByDescending(o => o.Date).ToList();

            Console.WriteLine($"Posts loaded, count: {posts?.Count}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
