@page "/"

@inject NavigationManager _navManager
@inject SideBarUpdateService _updateService
@inject IJSRuntime _jsRuntime

<PageTitle>Hello!</PageTitle>

<div class="container mt-5">
    <h1>Hello {.NET} world</h1>

    <div class="mt-5">
        <p>
            Toto je můj osobní web postavený na Blazor WebAssembly a hostovaný na <a href="https://pages.github.com/" target="_blank"> GitHub Pages</a><br>
            Zabývám se full-stack vývojem webových aplikací na platfomě .NET a na tomto webu se budu věnovat převážně technologii Blazor.
        </p>
        <p class="mt-2">
            Na tomto webu zatím najdete:
        </p>
        <ul style="list-style:none;">
            <li><i class="bi bi-newspaper"></i><a class="ms-2 link-primary pointer" @onclick="@(() => NavigateTo("/blog"))">Blog service</a> -> s použitím GitHub repositáře a jeho API jako storage pro články ve formátu .md</li>
            <li><i class="bi bi-controller"></i><a class="ms-2 link-primary pointer" @onclick="@(() => NavigateTo("/tetris"))">Tetris game</a> -> hru napsanou v C# a renderovanou pomocí Blazor WASM</li>
        </ul>
        <p class="mt-2">
            Nejnovější featura: <i class="bi bi-fire"></i>
        </p>
        <ul style="list-style:none;">
            <li><a class="ms-2 link-primary pointer" @onclick="@(() => NavigateTo("/blazor/binding"))">Blazor binding demo</a></li>
        </ul>
    </div>


    <div class="mt-5 fixed-bottom d-flex justify-content-between mb-2">
        <div class="d-flex" style="margin-left:320px;">
            <p><i class="bi bi-github"></i> Source code na mém <a class="link-primary" href="https://github.com/OndrejSevcak" target="_blank">GitHub</a>.</p>
            <p class="ms-4"><i class="bi bi-linkedin"></i> Najdeš mě na <a class="link-primary" href="https://www.linkedin.com/in/ondrejsevcak/" target="_blank">LinkedIn</a>.</p>
        </div>
        <div class="me-3">
            Poslední update: 22.03.2025
        </div>
    </div>

</div>

@code{
    private IJSObjectReference? jsModule;

    private void NavigateTo(string path)
    {
        switch (path)
        {
            case "/tetris":
                _updateService.InvokeUpdateSidebar(path);
                break;

            case "/blog":
                _updateService.InvokeUpdateSidebar(path);
                break;

            default:
                _updateService.InvokeUpdateSidebar(path);
                break;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        jsModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/modules.js");
    }
}