@page "/"

@inject NavigationManager _navManager
@inject SideBarUpdateService _updateService 

<PageTitle>Hello!</PageTitle>

<div class="container mt-5">
    <h1>Hello world</h1>

    <div class="mt-5">
        <p>This is a Blazor WebAssembly app hosted at GitHub Pages.</p>
        <p>I am gonna use this site for Blazor dev experiments and something like my personal blog.</p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-controller"></i> Play some <a class="link-primary pointer" @onclick="@(() => NavigateTo("/tetris"))">TETRIS</a></p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-newspaper"></i> Check my <a class="link-primary pointer" @onclick="@(() => NavigateTo("/blog"))">BLOG</a></p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-github"></i> Link to my <a class="link-primary" href="https://github.com/OndrejSevcak">GitHub</a>.</p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-linkedin"></i> Link to my <a class="link-primary" href="https://www.linkedin.com/in/ondrejsevcak/">LinkedIn</a>.</p>
    </div>

</div>

@code{

    private void NavigateTo(string path)
    {
        switch (path)
        {
            case "/tetris":
                _updateService.InvokeUpdateSidebar(path);
                break;

            case "/blog":
                _updateService.InvokeUpdateSidebar(path);
                break;

            default:
                break;
        }
    }
}