@page "/"

<PageTitle>hey, homie!</PageTitle>

<div class="container mt-5">
    <h1>Hello world</h1>

    <div class="mt-5">
        <p>This is a Blazor WebAssembly app hosted at GitHub Pages.</p>
        <p>I am gonna use this site for Blazor dev experiments and something like my personal blog.</p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-controller"></i> Play some <a href="/tetris">TETRIS</a></p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-newspaper"></i> Check my <a href="/blog">BLOG</a></p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-github"></i> Link to my <a href="https://github.com/OndrejSevcak">GitHub</a>.</p>
    </div>

    <div class="mt-5">
        <p><i class="bi bi-linkedin"></i> Link to my <a href="https://www.linkedin.com/in/ondrejsevcak/">LinkedIn</a>.</p>
    </div>

</div>
