@page "/blogpost/{PostId}"

@using PersonalPageWASM.Services
@using PersonalPageWASM.Models

@inject BlogService _blogService
@inject IJSRuntime _jsRuntime

<div class="container">

    @if (post == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="row mt-2 w-100">
            <div class="d-flex justify-content-center">
                <h2>@post.Title</h2>
            </div>
            <div class="d-flex justify-content-center">
                <h6>@post.Description</h6>
            </div>
            <div class="d-flex justify-content-end">
                <h6>@post.Date</h6>
            </div>
            <br />
            <div class="d-flex mt-2">
                <div>@((MarkupString)post.HtmlContent)</div>
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public string? PostId { get; set; }

    BlogPost? post = null;

    private IJSObjectReference? jsModule;


    protected override void OnInitialized()
    {
        post = _blogService.Posts?.Where(p => p.Id == PostId)?.FirstOrDefault();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        jsModule = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/modules.js");

        await jsModule.InvokeVoidAsync("replaceCssClass", "language-razor", "language-csharp");

        await jsModule.InvokeVoidAsync("enableCodeHighlight", null);
    }
}
