.post-container {
    font-size: 14px;
    width: 80%;
    margin: auto;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.h2, h2 {
    margin-top: 20px;
}

.h3, h3 {
    margin-top: 20px;
}
