.board{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mini-board{
    width: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-sizing:border-box;
}

.cell-min {
    width: 30px;
    height: 30px;
}

.border1{
    border: 1px solid black;
}

.controls{
    width: 300px;
    height: 100%;
    border: 1px solid black;
    margin-left: 100px;
    padding: 20px;
}

.bg-orange{
    background-color: orange;
}

.bg-purple{
    background-color: purple;
}